@model DayJob
@{
    List<TransportInformation> transports = new List<TransportInformation>();
    if (Model.Transports != null)
    {
        transports = Model.Transports.ToList();
    }
    ViewBag.Title = "Transport management";
    string inUseStatus = String.Empty;
    string avalableStatus = String.Empty;
}

@section Scripts{
    <script>
        function confirmDone(id) {
            bootbox.confirm({
                size: "small",
                message: "Want to complete this transport?",
                buttons: {
                    cancel: {
                        label: 'Are not',
                        className: 'btn-dark pl-3 pr-3'
                    },
                    confirm: {
                        label: 'Have',
                        className: 'btn-danger pr-3 pl-3'
                    }
                },
                callback: async function (result) {
                    if (result) {
                        window.location.href = `/Driver/TransInfo/DoneTransInfo?transportId=${id}`;
                    }
                }
            })
        }
    </script>
}

<div class="w-100">
    <div class="">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto row pl-1 pr-1 pl-sm-5 pr-sm-5">
            <div class="col-sm-12 text-danger h5" asp-validation-summary="ModelOnly"></div>
            <div class="col-sm-12">
                <h3 class="tm-block-title d-block text-center">ASSIGNED WORK</h3>
            </div>
            <div class="w-100 pagination row mx-auto">
                <!--Items of pagination-->
                <table class="table table-bordered table-hover w-100 table-light">
                    <thead class="thead-light text-center text-uppercase">
                        <tr>
                            <th class="p-0 align-middle">STT</th>
                            <th class="pr-1 pl-1 align-middle" style="max-width: 100px">Sea of Control</th>
                            <th class="pr-1 pl-1 align-middle" style="min-width: 80px;">Transportation</th>
                            <th class="pr-1 pl-1 align-middle">Status</th>
                            <th class="p-0 align-middle" style="max-width: 60px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < transports.Count; i++)
                        {
                            int stt = i + 1;
                            string routeName = $"{transports[i].Route.DeparturePlace} - {transports[i].Route.ArrivalPlace}";
                            <tr class="text-center">
                                <td class="p-0 text-center">@stt</td>
                                <td class="p-0 pl-1 pr-1 pt-3 pb-3 text-left" style="max-width: 100px">
                                    <a class="text-white"
                                       asp-action="Details" asp-controller="TransInfo"
                                       asp-route-transportId="@transports[i].TransportId">
                                        @transports[i].Vehicle.LicensePlate
                                    </a>
                                </td>
                                <td class="p-0 pl-1 pr-1 pt-3 pb-3 text-justify">
                                    <a class="text-white"
                                       asp-action="Details" asp-controller="TransInfo"
                                       asp-route-transportId="@transports[i].TransportId">
                                        @routeName
                                    </a>
                                </td>
                                <td class="p-0 pl-1 pr-1 pt-3 pb-3">
                                    @if (transports[i].IsCompleted)
                                    {
                                        <i class="fas fa-check-square text-success"
                                   title="Accomplished"
                                           style="font-size: 1.3rem"></i>
                                    }
                                    else if (transports[i].IsCancel)
                                    {
                                        <i class="fas fa-window-close text-danger"
                                   title="Cancelled"
                                           style="font-size: 1.3rem"></i>
                                    }
                                    else
                                    {
                                        <i class="fas fa-truck-loading text-white"
                                   title="Shipping in progress"
                                           style="font-size: 1.3rem"></i>
                                    }
                                </td>
                                <td class="p-0 pr-1 pl-1 text-center action" style="max-width: 60px">
                                    <a class="button--edit mr-2"
                                       asp-controller="TransInfo"
                                       asp-action="Edit"
                                       asp-route-transId="@transports[i].TransportId"
                                   title="Edit">
                                        <i class="fas fa-pen-square"></i>
                                    </a>
                                    <a class="done-confirm"
                                       href="javascript:;"
                                       onclick="confirmDone('@transports[i].TransportId')"
                                       style="font-size: 1.3rem">
                                        <i class="fas fa-flag-checkered text-light"
                                           title="Complete"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>