@model PaginationViewModel<VehicleBrandViewModel>
@{
    List<VehicleBrandViewModel> brands = new List<VehicleBrandViewModel>();
    if (Model.Items != null)
    {
        brands = Model.Items.ToList();
    }
    ViewBag.Title = "Trademark management of means of transport";
}

@section Scripts{
    <script>
        function confirmDelete(id) {
            bootbox.confirm({
                size: "small",
                message: "You want this brand?",
                buttons: {
                    cancel: {
                        label: 'Are not',
                        className: 'btn-dark pl-3 pr-3'
                    },
                    confirm: {
                        label: 'Have',
                        className: 'btn-danger pr-3 pl-3'
                    }
                },
                callback: async function (result) {
                    if (result) {
                        window.location.href = `VehicleBrand/Delete?brandId=${id}`;
                    }
                }
            })
        }

        const editModal = document.getElementById("editBrand");
        const editBrandId = document.getElementById("BrandId");
        const editBrandName = document.getElementById("editBrandName");
        function editBrand({ target }) {
            editBrandId.value = target.id;
            editBrandName.value = target.innerText;
            $("#editBrand").modal();
        }
    </script>
}

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto row">
            <div class="col-12">
                <h3 class="tm-block-title d-block text-center">MANAGEMENT TRADE BRANDS</h3>
            </div>
            <div class="col-sm-12 col-lg-6 pagination row mx-auto p-0">
                <div class="w-100">
                    <i class="fas fa-plus-square pr-3 pl-3 pb-1 pt-1 btn--radius btn--primary h3"
                       style="font-size: 1.3rem; cursor: pointer"
                       data-toggle="modal"
                       data-target="#createBrand"></i>
                </div>
                <!--Search and pagesize-->
                <div class="row mr-0 ml-0 pl-0 pr-0 mb-2 col-sm-12 flex-nowrap align-items-center justify-content-between">
                    <div>
                        <span class="text-white">Show</span>
                        <select class="ml-2 mr-2 text-center"
                                style="min-width:5rem; height: 38px;"
                                id="pageSize" onchange="changePageSize(this)">
                            @foreach (var item in Model.PageSizeItem)
                            {
                                if (Model.Pager.PageSize == item)
                                {
                                    <option name="pageSize" selected value="@item">@item</option>
                                }
                                else
                                {
                                    <option name="pageSize" value="@item">@item</option>
                                }
                            }
                        </select>
                    </div>
                    @if (ViewBag.Search != null)
                    {
                        <input class="form-control w-25 bg-light text-body" type="search" value="@ViewBag.Search" name="search" onchange="searchKeyword(this)" placeholder="Search" />
                    }
                    else
                    {
                        <input class="form-control w-25 bg-light text-body" type="search" value="" name="search" onchange="searchKeyword(this)" placeholder="Search" />
                    }
                </div>
                <!--Items of pagination-->
                <table class="table table-bordered table-hover w-100 table-light">
                    <thead class="thead-light text-center text-uppercase">
                        <tr>
                            <th class="p-0 align-middle" style="width: 50px">STT</th>
                            <th class="pr-1 pl-1 align-middle">Brand name</th>
                            <th class="p-0 align-middle" style="width:20px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < brands.Count; i++)
                        {
                            int stt = i + 1;
                            <tr>
                                <td class="p-0 text-center" style="width: 50px">@stt</td>
                                <td class="p-0 pl-1 pr-1 pt-3 pb-3">
                                    <a class="text-decoration-none text-white edit-toggle"
                                   href="javascript:;" id="@brands[i].BrandId"
                                   onclick="editBrand(event)">
                                        @brands[i].BrandName
                                    </a>
                                </td>
                               <td class="p-0 text-center pr-2 pl-2" style="width: 20px">
                            <a class="delete-confirm"
                            onclick="confirmDelete('@brands[i].BrandId')">
                            <i class="fas fa-trash"></i>
                            </a>
                            </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!--Footer of pagination-->
                <div class="col-12 mt-2">
                    <ul class="pagination col-12 justify-content-center" id="pagination">
                        <li class="page-item"><a class="page-link" asp-controller="VehicleBrand" asp-action="Index" asp-route-page="1" asp-route-pageSize="@Model.Pager.PageSize" asp-route-search="@ViewBag.Search">First</a></li>
                        <li class="page-item"><a class="page-link" asp-controller="VehicleBrand" asp-action="Index" asp-route-page="@Model.Pager.PreviousPage" asp-route-pageSize="@Model.Pager.PageSize" asp-route-search="@ViewBag.Search">Previous</a></li>
                        @for (int i = Model.Pager.StartPage; i <= Model.Pager.EndPage; i++)
                        {
                            <li class="page-item"><a class="page-link" asp-controller="VehicleBrand" asp-action="Index" asp-route-page="@i" asp-route-pageSize="@Model.Pager.PageSize" asp-route-search="@ViewBag.Search">@i</a></li>
                        }
                        <li class="page-item"><a class="page-link" asp-controller="VehicleBrand" asp-action="Index" asp-route-page="@Model.Pager.NextPage" asp-route-pageSize="@Model.Pager.PageSize" asp-route-search="@ViewBag.Search">Next</a></li>
                        <li class="page-item"><a class="page-link" asp-controller="VehicleBrand" asp-action="Index" asp-route-page="@Model.Pager.TotalPages" asp-route-pageSize="@Model.Pager.PageSize" asp-route-search="@ViewBag.Search">Last</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div id="createBrand" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create a new brand</h5>
            </div>
            <form asp-controller="VehicleBrand" asp-action="Create" method="post">
                <div class="modal-body">
                    <div class="input-group col-sm-12 p-0 mb-2">
                        <div class="col-sm-12 d-flex flex-nowrap">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    Brand name
                                </span>
                            </div>
                            <input class="form-control" type="text"
                                   data-val="true"
                                   data-val-maxlength="Maximum allowed length is 30 characters"
                                   data-val-maxlength-max="30"
                                   data-val-required="Location name cannot be empty"
                                   id="BrandName" maxlength="30" name="BrandName">
                        </div>
                        <span class="text-danger field-validation-valid col-sm-12 mt-2" data-valmsg-for="BrandName" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="modal-footer pb-1 pt-1">
                    <button class="btn btn--radius btn--primary">Confirm</button>
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<!-- Edit Modal -->
<div id="editBrand" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Trademark editing</h5>
            </div>
            <form asp-controller="VehicleBrand" asp-action="Edit" method="post">
                <input type="hidden" name="BrandId" value="" id="BrandId" />
                <div class="modal-body">
                    <div class="input-group col-12 p-0 mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                Brand name
                            </span>
                        </div>
                        <input class="form-control" type="text"
                               data-val="true"
                               data-val-maxlength="Maximum allowed length is 30 characters"
                               data-val-maxlength-max="30"
                               data-val-required="Brand name cannot be empty"
                               id="editBrandName"
                               maxlength="30"
                               name="BrandName">
                        <span class="text-danger field-validation-valid"
                              data-valmsg-for="editBrandName" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="modal-footer pb-1 pt-1">
                    <button class="btn btn--radius btn--primary">Confirm</button>
                    <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

<script>

</script>