@model EditTransInfoViewModel
@{
    ViewBag.Title = "Edit shipping";
}
@section Scripts{
    <script>
        $(document).ready(function () {
            $('.js-select2-single').select2();
        });
        const formartter = new Intl.NumberFormat('vi-VN');
        const advanceMoney = document.getElementById("AdvanceMoney");
        const showAdvanceMoney = document.getElementById("showAdvanceMoney");
        if (advanceMoney.value > 0) {
            showAdvanceMoney.value = formartter.format(advanceMoney.value);
        }
    </script>
}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto row">
            <div class="col-12">
                <h3 class="tm-block-title d-block text-center">EDIT TRANSPORTATION</h3>
            </div>
            <div class="form-group w-100">
                <form asp-controller="TransInfo" asp-action="Edit" method="post" class="form-group w-100 row m-0">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="form-group mb-3 col-xs-12 col-sm-6">
                                <label asp-for="VehicleId" class="control-label"></label>
                                <select class="js-select2-single form-control input-validation-error" disabled>
                                    @if (Model.Vehicles != null)
                                    {
                                        if (Model.Vehicles.Any())
                                        {
                                            foreach (var vehicle in Model.Vehicles)
                                            {
                                                string vehicleData = $"{vehicle.LicensePlate} - {vehicle.BrandName} - Trọng tải: {vehicle.VehiclePayload} (tấn)";
                                                if (Model.VehicleId == vehicle.VehicleId)
                                                {
                                                    <option value="@vehicle.VehicleId">
                                                        @vehicleData
                                                    </option>
                                                }
                                            }
                                        }
                                    }
                                </select>
                                <input asp-for="VehicleId" value="@Model.VehicleId" hidden />
                                <span asp-validation-for="VehicleId" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3 col-xs-12 col-sm-6">
                                <label asp-for="CargoTypes" class="control-label"></label>
                                <input asp-for="CargoTypes" class="form-control" readonly />
                                <span asp-validation-for="CargoTypes" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group mb-3 col-xs-12">
                            <label asp-for="RouteId" class="control-label"></label>
                            <select class="js-select2-single form-control input-validation-error" disabled>
                                @if (Model.Routes != null)
                                {
                                    if (Model.Routes.Any())
                                    {
                                        foreach (var route in Model.Routes)
                                        {
                                            string routeData = $"{route.DeparturePlace} - {route.ArrivalPlace}";
                                            if (true)
                                            {
                                                <option value="@route.RouteId">
                                                    @routeData
                                                </option>
                                            }
                                        }
                                    }
                                }
                            </select>
                            <input asp-for="RouteId" value="@Model.RouteId" hidden/>
                            <span asp-validation-for="RouteId" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="form-group mb-3 col-xs-12 col-sm-6">
                                <label asp-for="AdvanceMoney" class="control-label"></label>
                                <input asp-for="AdvanceMoney" hidden />
                                <input id="showAdvanceMoney" type="text" oninput="formartCurrency(event)" value="0" class="form-control" readonly/>
                                <span asp-validation-for="AdvanceMoney" class="text-danger"></span>
                            </div>
                                                        <div class="form-group mb-3 col-xs-12 col-sm-6">
                                <label asp-for="CargoTonnage" class="control-label"></label>
                                <input asp-for="CargoTonnage" class="form-control"/>
                                <span asp-validation-for="CargoTonnage" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group mb-3 col-xs-12">
                            <label asp-for="Note" class="control-label"></label>
                            <textarea asp-for="Note" class="form-control" readonly></textarea>
                            <span asp-validation-for="Note" class="text-danger"></span>
                        </div>
                    </div>
                    <input asp-for="TransportId" value="@Model.TransportId" hidden/>
                    <div class="col-sm-12 justify-content-center text-center">
                        <button type="submit"
                                class="btn btn--primary text-uppercase mr-2 pr-4 pl-4">
                            EDIT
                        </button>
                        <a asp-controller="Home" asp-action="Index" role="button"
                           class="btn btn--cancel text-uppercase pr-4 pl-4">
                            RETURN
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
