@model EditUserViewModel
@section Scripts{
    <script>
        $(document).ready(function () {
            $('.js-select2-single').select2();
        });
    </script>
}
@{ 
    ViewBag.Title = $"Change the account information {Model.LastName} {Model.FirstName}";
}
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto row">
            <div class="col-12">
                <h3 class="tm-block-title d-block text-center">CHANGE THE ACCOUNT INFORMATION</h3>
            </div>
            <div class="form-group w-100">
                <form enctype="multipart/form-data" asp-controller="User" asp-action="Edit" method="post" class="form-group w-100 row m-0">
                    <div asp-validation-summary="ModelOnly" class="text-danger col-12"></div>
                    <div class="col-xl-9 col-lg-9 col-md-12">
                        <input asp-for="UserId" value="@Model.UserId" hidden />
                        <input asp-for="ExistsAvatar" value="@Model.ExistsAvatar" hidden />
                        <div class="row">
                            <div class="form-group mb-3 col-xs-12 col-sm-6">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3 col-xs-12 col-sm-6">
                                <label asp-for="PhoneNumber" class="control-label"></label>
                                <input asp-for="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group mb-3 col-xs-12 col-sm-6">
                                <label asp-for="FirstName" class="control-label"></label>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3 col-xs-12 col-sm-6">
                                <label asp-for="LastName" class="control-label"></label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group mb-3 col-xs-12 col-sm-6">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group mb-3 col-xs-12 col-sm-6">
                                <label asp-for="ConfirmPassword" class="control-label"></label>
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group mb-3 col-xs-12 col-sm-6">
                                <label asp-for="RoleId" class="control-label"></label>
                                <select asp-for="RoleId" class="js-select2-single text-white form-control input-validation-error">
                                    @if (Model.Roles != null)
                                    {
                                        if (Model.Roles.Any())
                                        {
                                            foreach (var role in Model.Roles)
                                            {
                                                <option value="@role.RoleId">
                                                    @role.RoleName
                                                </option>
                                            }
                                        }
                                    }
                                </select>
                                <span asp-validation-for="RoleId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-12 mx-auto mb-4">
                        <div class="mx-auto">
                            <label asp-for="Avatar" style="cursor: pointer">
                                <input type="file" accept="image/*" name="Avatar" id="Avatar" onchange="changeAvatarImage(this)" style="display:none" />
                                <img src="@Url.Content($"~/images/account/{Model.ExistsAvatar}")" alt="Avatar" id="avatar" class="w-100" />
                            </label>
                        </div>
                        <div class="custom-file mt-3 mb-3">

                        </div>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn--primary btn-block text-uppercase">CONFIRM</button>
                    </div>
                    <div class="col-6">
                        <a class="btn btn-dark btn-block text-uppercase" asp-controller="User" asp-action="Index">COME BACK</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
