@inject UserManager<AppIdentityUser> userManager
@model PaginationViewModel<UserViewModel>
@{
    List<UserViewModel> users = Model.Items.ToList();
    ViewBag.Title = "Account Management";
}


@section Scripts{
    <script>
        function confirmDelete(id) {
            bootbox.confirm({
                size: "small",
                message: "Want to delete this account?",
                buttons: {
                    cancel: {
                        label: 'Are not',
                        className: 'btn-dark pl-3 pr-3'
                    },
                    confirm: {
                        label: 'Have',
                        className: 'btn-danger pr-3 pl-3'
                    }
                },
                callback: async function (result) {
                    if (result) {
                        window.location.href = `User/Delete?userId=${id}`;
                    }
                }
            })
        }

        $(document).ready(function () {
            $('.js-select2-single').select2();
        });
    </script>
}

<div class="row" >
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto row">
            <div class="col-12">
                <h3 class="tm-block-title d-block text-center">MANAGEMENT USER</h3>
            </div>
            <div>
                <a class="text-decoration-none" asp-controller="User" asp-action="Create">
                    <i class="fas fa-plus-square pr-3 pl-3 pb-1 pt-1 btn--radius btn--primary h3"
                       style="font-size: 1.3rem"></i>
                </a>
            </div>
            <div class="w-100 pagination row mx-auto">
                <!--Search and pagesize-->
                <div class="row mr-0 ml-0 pl-0 pr-0 mb-2 col-sm-12 flex-nowrap align-items-center justify-content-between">
                    <div>
                        <span class="text-white">Show</span>
                        <select class="ml-2 mr-2 text-center"
                                style="min-width:5rem; height: 38px;"
                                id="pageSize" onchange="changePageSize(this)">
                            @foreach (var item in Model.PageSizeItem)
                            {
                                if (Model.Pager.PageSize == item)
                                {
                                    <option name="pageSize" selected value="@item">@item</option>
                                }
                                else
                                {
                                    <option name="pageSize" value="@item">@item</option>
                                }
                            }
                        </select>
                    </div>
                    @if (ViewBag.Search != null)
                    {
                        <input class="form-control w-25 bg-light text-body" type="search" value="@ViewBag.Search" name="search" onchange="searchKeyword(this)" placeholder="Search" />
                    }
                    else
                    {
                        <input class="form-control w-25 bg-light text-body" type="search" value="" name="search" onchange="searchKeyword(this)" placeholder="Search" />
                    }
                </div>
                <!--Items of pagination-->
                <table class="table table-bordered table-hover w-100 table-light">
                    <thead class="thead-light text-center text-uppercase">
                        <tr>
                            <th class="p-0 align-middle">STT</th>
                            <th class="pr-1 pl-1 align-middle">First and last name</th>
                            <th class="pr-1 pl-1 align-middle">Position</th>
                            <th class="p-0 align-middle">Phone number</th>
                            <th class="p-0 align-middle">Status</th>
                            <th class="p-0 align-middle" style="max-width: 80px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < users.Count; i++)
                        {
                            string className = (users[i].IsActive) ? "text-white" : "text-dark";
                            int stt = i + 1;
                            string status = (users[i].IsAvalable && users[i].IsActive) ? "Ready" : "Not really";
                            <tr class="@className">
                                <td class="p-0 text-center">@stt</td>
                                <td class="pr-1 pl-1">
                                    <a class="text-white" asp-controller="User" 
                                       asp-action="Details" asp-route-userId="@users[i].UserId">@users[i].FullName</a>
                                </td>
                                <td class="pr-1 pl-1 text-center">@users[i].JobTitle</td>
                                <td class="p-0 text-center">@users[i].PhoneNumber</td>
                                <td class="p-0 text-center">@status</td>
                                <td class="p-0 text-center" style="max-width: 80px">
                                    <a class="button--edit mr-sm-2"
                                       asp-controller="User"
                                       asp-action="Edit"
                                       asp-route-userId="@users[i].UserId"
                                   title="Adjust"><i class="fas fa-pen-square"></i></a>
                                    <a class="delete-confirm"
                                       onclick="confirmDelete('@users[i].UserId')"
                                       title="Delete">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!--Footer of pagination-->
                <div class="col-sm-12 mt-2">
                    <ul class="pagination col-sm-12 justify-content-center" id="pagination">
                        <li class="page-item"><a class="page-link" asp-controller="User" asp-action="Index" asp-route-page="1" asp-route-pageSize="@Model.Pager.PageSize" asp-route-search="@ViewBag.Search">First</a></li>
                        <li class="page-item"><a class="page-link" asp-controller="User" asp-action="Index" asp-route-page="@Model.Pager.PreviousPage" asp-route-pageSize="@Model.Pager.PageSize" asp-route-search="@ViewBag.Search">Previous</a></li>
                        @for (int i = Model.Pager.StartPage; i <= Model.Pager.EndPage; i++)
                        {
                            <li class="page-item"><a class="page-link" asp-controller="User" asp-action="Index" asp-route-page="@i" asp-route-pageSize="@Model.Pager.PageSize" asp-route-search="@ViewBag.Search">@i</a></li>
                        }
                        <li class="page-item"><a class="page-link" asp-controller="User" asp-action="Index" asp-route-page="@Model.Pager.NextPage" asp-route-pageSize="@Model.Pager.PageSize" asp-route-search="@ViewBag.Search">Next</a></li>
                        <li class="page-item"><a class="page-link" asp-controller="User" asp-action="Index" asp-route-page="@Model.Pager.TotalPages" asp-route-pageSize="@Model.Pager.PageSize" asp-route-search="@ViewBag.Search">Last</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
